body {
	margin: 0;
	padding: 0;
	background: url(images/main-bg.png) repeat;
	font-family: 'Arvo', serif;
	font-size: 14px;
	color: #135d6a;
	
	padding-left: 2em;
	padding-right: 2em;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #135d6a;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

a {
	text-decoration: none;
	color: #135d6a;
}

a:hover {
}

#two-columns-header {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
}

#two-columns-header #col1 {
	float: left;
	width: 120px;
	color: #000000;
	padding-left:10px;
}

#two-columns-header #col2 {
	float: left;
	width: 800px;
	padding-left:10px;	
}
#two-columns-header #col3 {
	float: right;
	width: 64px;
	padding-right:10px;
}

#two-columns-header h1 {
	padding: 40px 0px 10px 0px;
	text-align:center;
}

#two-columns-header h2 {
	padding: 0px 0px 10px 0px;
	text-align:center;
}

/* Menu */

#menu {
	overflow: hidden;
	width: 1000px;
	padding: 10px 0px;
	margin: 0px auto 10px auto;
	background: #135d6a;
	font-size: 20px;
	color: #000000;
}

#menu ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
	border-right: 1px solid #FFFFFF;
}

#menu a {
	display: block;
	padding: 0px 20px 0px 12px;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	font-weight:400;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
}

#menu .current_page_item a {
	color: #FFFFFF;
}

#menu .last {
	border-right: none;
}

/* Page 

#page {
	overflow: hidden;
	width: 940px;
	margin: 0px auto;
	padding: 30px 30px;
	background: #FFFFFF;
}
*/
/* Content 

#content {
	float: left;
	width: 600px;
	padding: 10px 0px 0px 0px;
}

.post {
}

.post .title {
	margin-bottom: 10px;
	padding: 12px 0px 20px 0px;
	letter-spacing: -1px;
	color: #101010;
}

.post .title a {
	color: #101010;
	border: none;
}

.post .meta {
	height: 30px;
	border-bottom: 1px solid #292929;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.post .meta .date {
	float: left;
	height: 24px;
	padding: 3px 15px;
	color: #BBBBBB;
}

.post .meta .posted {
	float: right;
	height: 24px;
	padding: 3px 15px;
	color: #BBBBBB;
}

.post .meta a {
	color: #BBBBBB;
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	padding-top: 20px;
	font-size: 12px;
	font-weight: bold;
}
*/
/* Sidebar

#sidebar {
	float: right;
	width: 280px;
	padding: 30px 0px 0px 0px;
	color: #383838;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px dotted #D4D4D4;
	margin: 0px 0px;
	border-right: none;
}

#sidebar li a {
	background: url(images/img03.gif) no-repeat left 6px;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	padding: 0px 0px 30px 0px;
	letter-spacing: -1px;
	font-size: 1em;
	color: #101010;
}

#sidebar p {
	margin: 0 0px;
	padding: 10px 30px 20px 30px;
	text-align: justify;
}

#sidebar a {
	border: none;
	color: #383838;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #181818;
}
 */

/* Footer */

#footer {
	overflow: hidden;
	width: 1000px;
	margin: 0 auto;
	padding: 20px;
}

#footer p {
	margin: 0;
	padding-top1: 20px;
	line-height: normal;
	text-align: center;
	color: #0a7385;
	font-size: 15px;
}

#footer p a {
	color: #0a7385;
}

#footer_contact {
	overflow: hidden;
	width: 1000px;
	padding: 20px 0px;
	margin: 10px auto 14px auto;
	background: #0a7385;
	font-size: 16px;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	color: #000000;
}

#footer_contact p{
	margin: 0;
	line-height: normal;
	text-align: center;
	font-size:18px;
	color: #FFFFFF;
}

#footer a {
	color: #000000;
}

#two-columns h2{
	padding: 0px 0px 20px 0px;
	font-size: 18px;
	color: #135d6a;	
}

#three-columns {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 20px 0px;
	border-bottom1: 1px solid #D4D4D4;
	color: #000000;
	min-height:400px;
}

#three-columns h2 {
	padding: 0px 0px 20px 0px;
	font-size: 18px;
	color: #135d6a;
}
#three-columns h3 {
	padding: 0px 0px 15px 0px;
	font-size: 18px;
	color: #135d6a;
	text-align:center;
}
#three-columns h4 {
	padding: 0px 0px 5px 0px;
	font-size: 13px;
	color: #135d6a;
	text-align:center;
}


#three-columns #column1 {
	float: left;
	width: 290px;
	margin-right: 40px;
}

#three-columns #column2 {
	float: left;
	width: 290px;
}

#three-columns #column3 {
	float: right;
	width: 300px;
}

#two-columns #column1 {
	float: left;
	width: 440px;
	margin-right: 40px;
}

#two-columns #column2 {
	float: left;
	width: 440px;
}
a.link-style, a.link-style:hover, a.link-style:focus{
	display: inline-block;
	margin-top: 10px;
	padding: 5px 15px;
	background: #135d6a;
	color: #FFFFFF;
	text-decoration:none;	
}

#banner {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 20px 0px;
	border-bottom1: 1px solid #D4D4D4;
}


#two-columns {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 30px 0px;
}

#two-columns #col1 {
	float: left;
	width: 780px;
	color: #000000;
}

#two-columns #col2 {
	float: right;
	width: 200px;
}

#two-columns h2 {
	padding: 0px 0px 20px 0px;
	color: #135d6a;
}


#two-columns .image-style {
}


#two-columns .text-style {
	padding-bottom: 10px;
	border: 10px solid #000000;
	text-align: center;
	font-size: 20px;
}


.carousel{
 	-webkit-touch-callout: none;
	touch-callout: none;
    -webkit-user-select: none;
	user-select: none;
}

#footer_contact a{
	color:#FFFFFF;
}
.img_left{
	float:left;
	margin:15px 15px 0 0;	
}
.img_right{
	float:right;
	margin:15px 0 15px 15px;	
}

.press {
	float:left;
	text-align:center;
	font-size:15px;
	width:280px;
	padding:20px;
	margin:10px;
}
.press a{
	color:#000000;	
}

.press a:hover{
	color:#135d6a;	
}